html{
  min-height: auto;
  height: 100%;
  body{
    height: 100%;
    background: #fff;
    .txt-welcome{
      display: flex;
      width: 100%;
      height: 100%;
      color: gray;
      align-items: center;
      justify-content: center;
      div{
        width: 100%;
        color: #0071bd;
        transform: translateY(-50%);
        img{
          display: block;
          width: 100px;
          margin: 0 auto;
          margin-bottom: 38px;
        }
        h2{
          font-size: 60px;
          text-align: center;
        }
        p{
          font-size: 28px;
          letter-spacing: 2px;
          text-align: center;
          margin-top: 20px;
        }
      }
    }
  }
}